.main {
  width: 100%;
  height: 100vh;
  background: url('/public/bg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.name {
  position: absolute;
  display: flex;
  top: 50%;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 10px;
  font-weight: 900;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  width: 100%;
  transform: rotate(-3deg);
  opacity: 0.4;
}

.name p {
  -webkit-text-stroke: 2px grey;
  color: transparent;
  animation: scroll 6s linear infinite;
  white-space: nowrap; 
}

@keyframes scroll {
  0% {
    transform: translateX(0%);   
  }
  100% {
    transform: translateX(-100%);  
  }
}
